{{extend 'layout1.html'}}


<style>

  div.dataTables_wrapper div.dataTables_info {
    padding-top: 50px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    padding-top: 70px;


}

.pagination {
    display: -ms-flexbox;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

</style>








{{block header}}
    <h2>Página de Inicio - Sistema de Expedientes</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{=URL(c='default',f='index')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Inicio</strong>
      </li>
    </ol>
{{end}}




                  


<h3 class="animated fadeInUp">Panel de Administración</h3>
<br>



<div class="row animated fadeInRightBig">
  <div class="col-lg-2">
    <div class="widget style1 navy-bg">
      <div class="row vertical-align">
        <div class="col-2">
          <i class="fa fa-check-square-o fa-2x"></i>
        </div>
        <div class="col-10 text-right">
          <h5 class="font-bold"><a href="{{=URL('entrada', 'entrada')}}" style="color: #FFF">Mesa de Entrada</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="widget style1 red-bg">
      <div class="row vertical-align">
        <div class="col-2">
          <i class="fa fa-chevron-up fa-2x"></i>
        </div>
        <div class="col-10 text-right">
          <h5 class="font-bold"><a href="{{=URL('archivo', 'form_archivo')}}" style="color: #FFF">Archivo</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="widget style1 blue-bg">
      <div class="row vertical-align">
        <div class="col-2">
          <i class="fa fa-binoculars fa-2x"></i>
        </div>
        <div class="col-10 text-right">
          <h5 class="font-bold"><a href="{{=URL('confeccion', 'confeccion')}}" style="color: #FFF">Confeccion</a></h5>
        </div>
      </div>
    </div>
  </div>

  
</div>



<!------------------------------- -->
<!------------------------------- -->
<br>
<br>
<br>



 
  <hr>
 

</div>

<br>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" type="text/javascript" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript" ></script>


<script>
       

            
      

        
  </script>







                  

