{{extend 'layout1.html'}}


<style>

  div.dataTables_wrapper div.dataTables_info {
    padding-top: 50px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    padding-top: 70px;


}

.pagination {
    display: -ms-flexbox;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

</style>








{{block header}}
<h2>Div. Antecedentes- Sistema de Confeccion</h2>
    
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{=URL(c='default',f='panel')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Form Archivo</strong>
      </li>
    </ol>
{{end}}




                  


<h3 class="animated fadeInUp">Impresion de Certificados</h3>
<br>

