{{extend 'layout1.html'}}

<style>
	.swal-modal { width:80% !important;
	}
	
	#aceptar{
		background: #d24040;
		color:white;	
	
	}


	#icono2{
		background: #d24040;

	}
	#icono1{
		background: #d24040;

	}
	#icono4{
		border-color: #d24040;

	}
	#icono3{
	
	
    border-color: #e63e13;}
    #p{
    	font-size: 12pt;
    	text-align: center;
    }
    #si{
    background:#7cd1f9;
    color: white;
  }


</style>
	





               
            </div><div class="swal-overlay swal-overlay--show-modal" tabindex="-1">
  <div class="swal-modal" role="dialog" aria-modal="true"><div class="swal-icon swal-icon--warning" id="icono4">
    <span class="swal-icon--warning__body" id="icono2">
      <span class="swal-icon--warning__dot"id="icono1"></span>
    </span>
  </div><div class="swal-title" style="" id="icono3">¡ATENCIÓN!</div><div class="swal-text" style="">
	<div class="ibox-content">
		
    		<div class="row">
      

				<div class="col-lg-12">
					<h3>Esta persona ya posee una soliditud, con fecha: {{=turno_fecha.day}} / {{=turno_fecha.month}} / {{=turno_fecha.year}}
                    Y estado: <strong> {{=estado}}</strong>  </h3>
				</div>	
		

  				
  			</div>		


  	<div class="ibox-content">
	
	<table class="table table-bordered">
		<thead>
			<tr>	
				

				
				<th>Dni/Pasaporte</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Genero</th>
				<th>Tipo</th>
				<th>Prontuario Nº</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				
				<td>{{=dnpa}}</td>
				
				<td>{{=nombre}}</td>
				<td>{{=apellido}}</td>
				<td>{{=genero}}</td>
				<td>{{=tipo}}</td>
				<td>{{=nprontuario}}</td>
				<td>{{=estado}}</td>


			</tr>
			
		</tbody>
	</table>
	
	


	
<br>
  
  <p><h3> <strong><p>¿Desea generar una nueva solicitud?</p></h3></p></strong>
  

  	
  </div><div class="swal-footer">
  	<div class="swal-button-container">

    <a href="{{=URL('entrada', 'nueva_solicitud',args=[dnpa,apellido,nombre,tipo,nprontuario,estado,intervino,ide,genero])}}" class="swal-button swal-button--cancel"id="si"  >Nueva</a>
    
  	

    <a href="{{=URL('entrada', 'ingreso')}}"class="swal-button swal-button--cancel" tabindex="0" id="aceptar">Cancelar</a>

    <div class="swal-button__loader">
      <div></div>
      <div></div>
      

 

  </div></div></div></div>



        
        






































	


